{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "map": [
          ["src", "./src"],
          ["app", "./src"]
        ]
      }
    }
  },
  "rules": {
    "brace-style": ["error", "stroustrup"],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-no-useless-fragment": "warn",
    "react/destructuring-assignment": "warn",
    "react/no-unescaped-entities": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "react/no-array-index-key": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "max-len": "off",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "padded-blocks": "off",
    "import/extensions": "off",
    "no-nested-ternary": "off"
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
