.column {
    width: 280px;
    display: flex;
    flex-direction: column;
    max-height: 84vh;

    &:hover {
        .column__edit-icon-container {
            opacity: 1;
        }
    }

    &__title-color-text {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__title-group {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__edit-icon-container {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__edit-icon {
        width: 20px;
        cursor: pointer;
    }

    &__color {
        display: block;
        width: 15px;
        height: 15px;
        max-width: 15px;
        max-height: 15px;
        min-width: 15px;
        min-height: 15px;
        border-radius: 50%;
    }

    &__title {
        color: var(--medium-grey, #828FA3);
        font-size: .75rem;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.4px;
        text-transform: uppercase;
    }

    &__scrollable {
        min-height: 0;
        max-height: calc(90vh - 50px);
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 12px;
        margin-right: -12px;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &::-webkit-scrollbar {
            width: 0;
            transition: width 0.9s ease;
        }
        
        &:hover {
            &::-webkit-scrollbar {
                width: 8px;
            }
        }
    
        &::-webkit-scrollbar-track {
            background: var(--background-board);
        }
    
        &::-webkit-scrollbar-thumb {
            background: #828FA3;
            border-radius: 4px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: #606a79;
        }
    }
}
