@keyframes translate-left-icon {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes translate-right-icon {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(0); }
}

@keyframes translate-left-aside {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100px); }
}

@keyframes translate-right-aside {
    0% { transform: translateX(0); }
    100% { transform: translateX(+1256px); }
}

