@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
// @import '../../styles/vars';
// @import 'swiper/swiper.min.css';


.app {
  margin: 0;
  font-family: 'Plus Jakarta Sans';
}

// ===================
// DARK/LIGHT 
// ===================

.isDarkTheme {
  --background-board: #20212C;
  --title: #FFFFFF;
  --new-column: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.13) 100%);
  --background-modal: #2B2C37;
  --subtitle: #FFFFFF;
  --add-button-background: #FFFFFF;
  --background-theme-switch: #20212C;
  --line-separator: #3E3F4E;
}

.isLightTheme {
  --background-board: #F4F7FD;
  --title: #000112;
  --new-column: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.50) 100%);
  --background-modal: #FFFFFF;
  --subtitle: #828FA3;
  --add-button-background: rgba(99, 95, 199, 0.10);
  --background-theme-switch: #FFF;
  --line-separator: #E4EBFA;
}

// =============================
// Responsive
// =============================

@media screen and (max-width: 768px) {
  .container {
      width: 100%;
      padding: 0 30px;
      margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 30px;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    padding: 0 30px;
    margin: auto;
  }
}
