.main {
    background-color: var(--background-board);
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    
    &__container--empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 211px;
    }

    &__empty-board {
        text-align: center;
        color: var(--medium-grey, #828FA3);
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
    }

    &__button-column {
        width: 174px;
        height: 48px;
        border-radius: 24px;
        background: var(--main-purple, #635FC7);
        border: none;
        color: var(--white, #FFF);
        font-size: .9375rem;
        font-weight: 700;
    }
}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .main {
        height: calc(100vh - 80px);
    }
}

@media screen and (min-width: 1440px) {
    .main {
        height: calc(100vh - 96px);
    }
}
// Swiper 
.swiper-horizontal {
    width: calc(100% + 30px);
}

.swiper-slide {
    width: 280px!important;
    margin-right: 30px;
}