@import '../animations';
@import '../../../styles/placeholders';

.vt {
    @extend %modalBgDefaultStyle;

    &__container {
        @extend %modalContainer
    }

    &__title-group {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
        position: relative;
    }

    &__options {
        width: 150px;
        height: 94px;
        background: var(--background-theme-switch);
        border-radius: 8px;
        box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.10);
        position: absolute;
        right: -50px;
        top: calc(98px - 32px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
    }

    &__option {
        font-size: .8125rem;
        color: #828FA3;
        cursor: pointer;

        &--delete {
            color: #EA5555;
        }
    }

    &__ellipsis {
        cursor: pointer;
    }

    &__title {
        width: 274px;
        color: var(--title);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        width: 295px;
        color: var(--medium-grey, #828FA3);
        font-size: .8125rem;
        font-weight: 500;
        line-height: 23px;
        margin-bottom: 24px;
    }

    &__subtitle {
        font-size: .75rem;
        color: var(--subtitle);
        font-weight: 700;
        line-height: normal;
        
        &:first-of-type {
            margin-bottom: 16px;
        }

        &:nth-of-type(2) {
            margin-bottom: 8px;
        }
    }

    &__checkgroup {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;
    }

    &__check-item {
        height: 59px;
        border-radius: 4px;
        background-color: var(--background-board);
        display: flex;
        align-items: center;
        padding: 13px;
        gap: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        label {
            font-size: .75rem;
            color: var(--title);
            font-weight: 700;
            line-height: normal;
        }

        &:hover {
            background-color: rgba(99, 95, 199, 0.25);

            label {
                color: var(--title);
            }
        }
    }

    &__checkbox {
        cursor: pointer;
    }

    &__checkbox:checked ~ label { 
        text-decoration-line: line-through;
        opacity: 0.5;
    }

    &__select {
        @extend %modalSelect;

        option {
            @extend %modalOption;
        }
    }

}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .vt {

        &__container {
            width: 480px;
            padding: 32px;
        }

        &__options {
            width: 192px;
            height: 94px;
            right: calc(-65px + -32px);
        }

        &__title {
            width: 387px;
        }

        &__text {
            width: 416px;
        }

        &__select {
            width: 416px;
        }
    }
}

@media screen and (min-width: 1440px) {
    
}


.visuallyhidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.disable {
    display: none;
}