@keyframes modal-open {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes modal-closed {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes pop-in {
    0% { transform: scale(0.01); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes pop-out {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.01); opacity: 0; }
}

@keyframes go-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}

@keyframes go-down {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

