@import '../animations';
@import '../../../styles/placeholders';

.eb {
    @extend %modalBgDefaultStyle;

    &__container {
        @extend %modalContainer;
        align-items: flex-start ;
    }

    &__action {
        color: var(--title);
        font-family: Plus Jakarta Sans;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
    }

    &__action-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        margin-bottom: 8px;
        color: var(--subtitle);
        font-size: .75rem;
    }

    &__input {
        width: 295px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(130, 143, 163, 0.25);
        resize: none;
        font-size: .8125rem;
        line-height: 23px;
        font-family: Plus Jakarta Sans;
        padding: 8px 16px;
        background-color: var(--background-modal);
        color: var(--title);

        &::placeholder {
            opacity: 0.5;
            font-size: .8125rem;
            line-height: 23px;
            font-family: Plus Jakarta Sans;
        }

        &:focus {
            outline: none;
        }

        &--column {
            width: 264px;
        }
    }

    &__columns {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 12px;
        max-height: 200px;
        overflow-y: scroll;
        padding-right: 10px;
    
        &::-webkit-scrollbar {
            width: 8px;
            background: transparent;
        }
        
        &:not(:hover) {
            &::-webkit-scrollbar-thumb {
                background: transparent;
            }
        }
    
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: #828FA3;
                border-radius: 4px;
            }
    
            &::-webkit-scrollbar-thumb:hover {
                background: #606a79;
            }
        }
    }

    &__column {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__column-delete {
        cursor: pointer;
    }

    &__button {
        @extend %modalButton;
        

        &--add {
            background: var(--add-button-background);
            color: var(--main-purple, #635FC7);
        }

        &--create {
            background: var(--main-purple, #635FC7);
            color: var(--white, #FFF);

            &:hover {
                background: var(--main-purple, #7672e2);
            }
        }
    }
}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .eb {

        &__container {
            width: 480px;
        }

        &__input {
            width: 416px;

            &--column {
                width: 385px;
            }
        }

        &__button {
            width: 416px;
        }
    }
}

@media screen and (min-width: 1440px) {
    
}


.visuallyhidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}