@import '../animations';
@import '../../../styles/placeholders';

.at {
    @extend %modalBgDefaultStyle;

    &__container {
        @extend %modalContainer
    }

    &__action-group {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__color-picker {
        position: absolute;
        top: 50px;
        max-width: 140px;
        border-radius: 8px;
        z-index: 15;
        right: -100px;
        display: none;
        background-color: var(--background-modal);
        padding: 10px;

        &--visible {
            display: block;
        }
    }

    &__color {
        min-width: 22px;
        height: 22px;
        border-radius: 100%;
        cursor: pointer;
    }

    &__action {
        width: 80%;
        color: var(--title);
        font-family: Plus Jakarta Sans;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
    }

    &__title {
        margin-bottom: 8px;
        color: var(--subtitle);
        font-size: .75rem;
    }

    &__input {
        border-radius: 4px;
        border: 1px solid rgba(130, 143, 163, 0.25);
        resize: none;
        font-size: .8125rem;
        line-height: 23px;
        font-family: Plus Jakarta Sans;
        padding: 8px 16px;
        background-color: var(--background-modal);
        color: var(--title);

        &::placeholder {
            opacity: 0.5;
            font-size: .8125rem;
            line-height: 23px;
            font-family: Plus Jakarta Sans;
        }

        &:focus {
            outline: none;
        }

        &--title {
            width: 295px;
            height: 40px;
        }

        &--description {
            width: 295px;
            height: 112px;
        }

        &--subtask {
            height: 40px;
            width: 264px;
        }
    }

    &__subtasks {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 12px;
        max-height: 200px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
            transition: width 0.9s ease;
        }
        
        &:hover {
            &::-webkit-scrollbar {
                width: 8px;
            }
        }
    
        &::-webkit-scrollbar-thumb {
            background: #828FA3;
            border-radius: 4px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: #606a79;
        }
    }

    &__subtask {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__subtask-delete {
        cursor: pointer;
    }

    &__button {
        @extend %modalButton;

        &--add {
            background: var(--add-button-background);
            color: var(--main-purple, #635FC7);

        }

        &--create {
            background: var(--main-purple, #635FC7);
            color: var(--white, #FFF);

            &:hover {
                background: var(--main-purple, #7672e2);
            }
        }
    }

    &__select {
        @extend %modalSelect;

        option {
            @extend %modalOption;
        }
    }
}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .at {

        &__container {
            width: 480px;
        }

        &__action-group {
            width: 416px;
        }

        &__input {
            width: 416px;

            &--subtask {
                width: 385px;
            }
        }

        &__select {
            width: 416px;
        }

        &__button {
            width: 416px;
        }
    }
}

@media screen and (min-width: 1440px) {
    
}

.visuallyhidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}