.header {
    background: var(--background-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left-group {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 16px;
    }

    &__board-name {
        margin-right: 8px;
        color: var(--title);
        font-size: 1.125rem;
        font-weight: 700;
        cursor: pointer;
    }

    &__right-group {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__options {
        width: 150px;
        height: 94px;
        background: var(--background-theme-switch);
        border-radius: 8px;
        box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.10);
        position: absolute;
        right: 0;
        top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
    }

    &__option {
        font-size: .8125rem;
        color: #828FA3;
        cursor: pointer;

        &--delete {
            color: #EA5555;
            cursor: pointer;
        }
    }


    &__settings {
         cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        border: none;
        background-color: var(--background-modal);
    }

    &__add-task {
        width: 48px;
        height: 32px;
        border-radius: 48px;
        background-color: #635FC7;
        border: none;
        color: #FFF;
        font-size: 1.4rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &--large {
            width: 164px;
            height: 48px;
            font-size: .9375rem;
        }

        &--disable {
            opacity: 0.25;
        }
    }
}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .header {
        height: 80px;

        &__options {
            width: 192px;
            height: 94px;
            top: 56px;
        }

        &__board-name {
            font-size: 1.25rem;
        }

        &__logo-container {
            width: 174px;
            height: 80px;
            border-right: 1px solid var(--line-separator);
            display: flex;
            align-items: center;
            margin-right: 24px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .header {
        height: 96px;

        &__options {
            top: 65px;
        }

        &__logo-container {
            width: 182px;
            height: 96px;
            margin-right: 32px;
        }

        &__board-name {
            font-size: 1.5rem;
        }
    }
    
}