.login {
    input {
        height: 50px;
        border-radius: 8px;
        border: none;
        box-shadow: 0 0px 10px 0 rgba(31, 39, 54, 0.2);
        padding: 10px;
        width: 100%;

        &::placeholder {
            color: #000112;
            font-family: Plus Jakarta Sans;
        }
    }

    &__submit {
        background-color: #635FC7;
        border: none;
        border-radius: 8px;
        height: 50px;
        color: white;
    }

    &__forgot {
        background-color: transparent;
        border: none;
        color: #635FC7;
        text-decoration: underline;
        margin-top: 20px;
    }

    &.show {
        opacity: 1;
    }
}