@import '../Modal/animations';
@import '../../styles/placeholders';

.login {
    @extend %modalBgDefaultStyle;
    z-index: 50;

    &__container {
        @extend %modalContainer;
        background-color: #FFF;
        height: 334px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__input {
        margin-bottom: 25px;
        border-radius: 4px;
        border: 1px solid rgba(130, 143, 163, 0.25);
        resize: none;
        font-size: .8125rem;
        line-height: 23px;
        font-family: Plus Jakarta Sans;
        padding: 8px 16px;
        background-color: var(--background-modal);
        color: var(--title);

        &::placeholder {
            opacity: 0.5;
            font-size: .8125rem;
            line-height: 23px;
            font-family: Plus Jakarta Sans;
        }
    }

    &__submit {
        @extend %modalButton;
        background-color: #635FC7;
        color: #FFF;
        font-size: .8125rem;
    }

    &__register {
        border: none;
        background-color: transparent;
        color: #635FC7;
        font-size: .8125rem;
        font-weight: 700;
        font-family: "Plus Jakarta Sans";
        transition: text-decoration 0.2s ease;

        &:hover {
            text-decoration: underline;
        }
    }

}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .vt {

        &__container {
            width: 480px;
            padding: 32px;
        }
    }
}

@media screen and (min-width: 1440px) {
    
}


.visuallyhidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.disable {
    display: none;
}

.loader {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: calc(50% - 40px);
    border: 10px solid #f3f3f3;
    border-top: 10px solid #635FC7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
 }
100% {
    transform: rotate(360deg);
 }
} 