.create-column {
    width: 280px;
    height: 80vh;
    border-radius: 6px;
    background: var(--new-column);
    margin-top: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {

        .create-column__title {
            color: #635FC7;
        }
    }

    &__title {
        color: var(--medium-grey, #828FA3);
        font-family: Plus Jakarta Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        transition: color 0.2s ease;
    }
}